deta
imbalanced_learn
imblearn
joblib==1.1.0
joblib==1.3.2
python-dotenv
streamlit
streamlit_authenticator
streamlit_option_menu
xgboost
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.1
seaborn==0.13.2